@{
    ViewBag.Title = "SHARED PROJECTS";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@using MovieSite.Repository
@model MovieSite.ViewModel.MovieVM.DetailsVM
<!DOCTYPE html>
<html lang="zxx">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <script>
        function showTrailer() {
            // Get the YouTube video ID from the model
            var videoId = "@Model.TrailerURL".replace("https://www.youtube.com/watch?v=", "");

            // Create the embed URL for the video
            var embedUrl = "https://www.youtube.com/embed/" + videoId;

            // Create the modal dialog HTML
            var modalHtml = `
                                <div class="modal fade" id="trailer-modal" tabindex="-1" role="dialog" aria-labelledby="trailer-modal-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="trailer-modal-label">@Model.Title Trailer</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="${embedUrl}" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;

            // Add the modal dialog to the body of the page
            $("body").append(modalHtml);

            // Show the modal dialog
            $("#trailer-modal").modal("show");
        }

        // Add a click event handler for the trailer button
        $("#trailer-button").click(function() {
            showTrailer();
        });
    </script>

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="@Url.Action("GetImage", "Home",new { id =  @Model.id})">

                            <div class="view"><i class="fa fa-star"></i> @Model.Rating</div>
                            <button id="trailer-button" onclick="showTrailer()" class="btn btn-primary">Гледайте Трейлър</button>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>@Model.Title</h3>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating" id="stars">
                                    <a href="@Url.Action("Rate", new { movieId=@Model.id, rated = 1 })"><i class="fa"></i></a>
                                    <a href="@Url.Action("Rate", new { movieId=@Model.id, rated = 2 })"><i class="fa"></i></a>
                                    <a href="@Url.Action("Rate", new { movieId=@Model.id, rated = 3 })"><i class="fa"></i></a>
                                    <a href="@Url.Action("Rate", new { movieId=@Model.id, rated = 4 })"><i class="fa"></i></a>
                                    <a href="@Url.Action("Rate", new { movieId=@Model.id, rated = 5 })"><i class="fa"></i></a>
                                    <span>Вотове @Model.Votes </span>
                                </div>
                                <script>
                                    $(document).ready(function() {
                                        let roundedRating = parseFloat(@Convert.ToString(@Model.Rating).Replace(',','.'));

                                        function updateStars(rating) {
                                            $(".rating a").each(function(index) {
                                                let star = $(this).find("i");
                                                if (index + 1 <= rating) {
                                                    star.removeClass("fa-star-o fa-star-half-o").addClass("fa-star");
                                                } else if (index + 0.5 === rating) {
                                                    star.removeClass("fa-star fa-star-o").addClass("fa-star-half-o");
                                                } else {
                                                    star.removeClass("fa-star fa-star-half-o").addClass("fa-star-o");
                                                }
                                            });
                                        }

                                        $(".rating a").hover(
                                            function() {
                                                let rating = parseInt($(this).data("rated"));
                                                updateStars(rating);
                                            },
                                            function() {
                                                updateStars(roundedRating);
                                            }
                                        );

                                        $(".rating a").each(function(index) {
                                            $(this).data("rated", index + 1);
                                            $(this).find("i").addClass("fa");
                                        });

                                        updateStars(roundedRating);
                                    });
                                </script>
                            </div>
                            <p>
                                @Model.Description
                            </p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Тип:</span> Филм</li>
                                            <li><span>Студио:</span> @Model.Studio</li>
                                            <li><span>Жанр:</span> @Model.MovieCategory</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Ратинг:</span> @Model.Rating/ 5</li>
                                            <li><span>Актьори:</span> @Model.Actors</li>
                                            <li><span>Година на създаване:</span> @Model.ReleaseYear</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (@Model.favorite==null)
                                    {
                                        <a class="follow-btn" href="/Movie/Follow?movieId=@Model.id"><i class="fa fa-heart-o"></i>Добави в Любими</a>
                                    }
                                    else
                                    {
                                        <a class="follow-btn" href="/Movie/Follow?movieId=@Model.id"><i class="fa fa-heart-o"></i>Премахване от Любими</a>
                                    }
                                }
                                else
                                {
                                    <a class="follow-btn" href="/Users/Login"><i class="fa fa-heart-o"></i>Добави в Любими</a>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Коментари</h5>
                    </div>

                    @foreach (var item in Model.comments)
                    {
                        <div class="anime__review__item">
                            <div class="anime__review__item__text">
                                <h6>@item.Username</h6>
                                <p>
                                    @item.Text
                                </p>
                            </div>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="col-2">
                                @Html.ActionLink("Изтрий", "DeleteComment", new { commentId=item.Id,movieId=item.MovieId }, new{onclick ="return confirm('Do you really want to delete')"})
                            </div>
                        }
                    }
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="anime__details__form">
                        <div class="section-title">
                            <h5>Твой Коментар</h5>
                        </div>
                        <form action="/Movie/AddComment" method="post">
                            <input type="hidden" id="model.id" name="movieId" value="@Model.id"></input>

                            <textarea type="text" class="form-control" id="text" name="text" required data-error="Please enter your comment" placeholder="Your Comment"></textarea>
                            <button type="submit"><i class="fa fa-location-arrow"></i> Post</button>
                        </form>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Anime Section End -->


</body>

</html>