@{
    ViewBag.Title = "SHARED PROJECTS";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model MovieSite.ViewModel.MovieVM.DisplayVM
@using MovieSite.Controllers
<body>
    <!-- Header Section Begin -->
    <!-- Header End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Популярни</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/Movie/Categories" class="primary-btn">Виж Всички <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.Movies.Take(6).OrderBy(x => x.Votes))
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@Url.Action("GetImage", "Home",new { id =  item.Id})" )>
                                            <div class="view"><i class="fa fa-star"></i> @item.Votes</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>@item.movieCategory</li>
                                            </ul>
                                            <h5><a href="/Movie/Details/@item.Id">@item.Title</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Най-Гледано</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/Movie/Categories" class="primary-btn">Виж Всички <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.Movies.Take(6).OrderBy(x => x.Votes))
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@Url.Action("GetImage", "Home",new { id =  item.Id})" )>
                                            <div class="view"><i class="fa fa-star"></i> @item.Votes</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>@item.movieCategory</li>
                                            </ul>
                                            <h5><a href="/Movie/Details/@item.Id">@item.Title</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Наскоро добавени</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/Movie/Categories" class="primary-btn">Виж Всички <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.Movies.Take(6))
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@Url.Action("GetImage", "Home",new { id =  item.Id})" )>
                                            <div class="view"><i class="fa fa-star"></i> @item.Votes</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>@item.movieCategory</li>
                                            </ul>
                                            <h5><a href="/Movie/Details/@item.Id">@item.Title</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Най-много вотове</h5>
                            </div>
                            <div class="filter__gallery">
                                @foreach (var item in Model.Movies.Take(8).OrderBy(x => x.Votes))
                                {
                                    <div class="product__sidebar__view__item set-bg mix day years" data-setbg="@Url.Action("GetImage", "Home",new { id =  item.Id})" )>
                                        <h5><a href="/Movie/Details/@item.Id">@item.Title</a></h5>
                                    </div>
                                }


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Footer Section Begin -->
    <!-- Footer Section End -->
    <!-- Search model Begin -->



</body>